@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    background-color: #23282e;
    color: #eee;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

header {
    width: 100%;
    position: fixed;
    z-index: 100;
    text-align: center;
    margin-top: 10px;
}

header nav a {
    color: #eee;
    font-size: small;
    margin: 0 30px;
}

.tab {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url(../images/bg.png);
    background-size: 50%;
}

.tab .container {
    width: 1200px;
    max-width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}


#intro {
    background-color: #16222d;
}

#intro .avatar {
    text-align: right;
    height: 100%;
}

#intro .avatar img {
    height: 100%;
    filter: saturate(0.5);
}

#intro .content {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 500px;
    max-width: 80%;
}

#intro .content .name,
#intro .content .job {
    font-size: 6em;
    font-family: 'Josefin Sans';
    line-height: 1em;
}

#intro .content .job {
    text-wrap: nowrap;
}

.text-gradient {
    background-image: linear-gradient( to right, #ebdd19, #172ce7 );
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#intro .content .desc {
    margin-top: 2em;
    width: 80%;
    text-align: justify;
}

#intro .content a {
    margin-top: 1.2em;
}

#intro .content i {
    font-size: 10em;
    color: #293b4c;
    position: absolute;
    top: -50px;
    right: -50px;
}


#experience {
    background-image: linear-gradient(45deg, #212632, #242a34, #3c4c5a);
    background-size: cover;
}

#experience .list {
    height: 100%;
    width: max-content;
    display: flex;
    justify-content: left;
    padding-left: 50px;
    box-sizing: border-box;
    gap: 20px;
    position: relative;
    z-index: 1;
}

#experience .list .item {
    width: 200px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    gap: 20px;
}

#experience .list .item i {
    background-color: #444b57;
    width: 50px;
    font-size: 2em;
    color: #16222d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#experience .list .item .time {
    font-size: large;
    display: flex;
    align-items: end;
}

#experience .list .item .content .job {
    font-size: large;
}

#experience .list .item .content .company {
    color: #e4454a;
}

#experience .list .item .content .desc {
    font-size: 0.8em;
    opacity: 0.7;
}

#experience .list .item:nth-child(odd) .content {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#experience .list .item:nth-child(odd) .time {
    grid-row-start: 3;
    grid-row-end: 4;
    align-items: start;
}

#experience .list::before {
    position: absolute;
    content: '';
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #444b57;
    z-index: -1;
}

#experience .container {
    overflow: auto;
}


#skill {
    background-image: linear-gradient(45deg, #3a2530, #171514, #412726);
    background-size: cover;
}

#skill .list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    box-sizing: border-box;
    gap: 0;
}

#skill .list .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#skill .list .item:nth-child(odd) {
    background-color: #3f2525;
}

#skill .list .item i {
    width: 50px;
    height: 50px;
    background-color: #eee;
    color: #ca3ea7;
    font-size: 2em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 10px #0005;
}

#skill .list .item .name {
    font-size: 1.5em;
    margin-top: 0.7em;
}

#skill .list .desc {
    font-size: small;
    opacity: .8;
}


#project {
    background-color: #cfbaba;
    color: #444b57;
}

#project .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
}

#project .list .item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#project .list .item {
    border-radius: 30px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

#project .list .item .index {
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    transform: translateY(-100%);
    background-color: #fff;
    padding: 10px;
    font-style: italic;
    border-top-right-radius: 20px;  
}

#project .list .name {
    font-weight: bold;
    font-size: large;
    padding: 10px;
}

#project .list .item .desc {
    padding: 0 10px 10px 10px;
    font-size: small;
}

#project .list .item .author {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #eee;
}

#project .list .item .job {
    font-weight: bold;
}

#project .container {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0;
}


#contact {
    background-color: #242330;
}

#contact .thank {
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

#contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#contact .desc {
    width: 500px;
    max-width: 80%;
    text-align: center;
    padding-block: 2em;
}

#contact .desc a {
    color: #4875f9;
}

#contact .list {
    text-align: center;
}

#contact .list .item {
    display: inline-block;
    margin: 10px 30px;
}

#contact .list .item i {
    font-size: 1em;
    color: #aa5757;
    transform: translate(-4px,-4px);
}


@media screen and (max-width: 991px ) {
    #intro .avatar img {
        transform: translateX(200px);
    }
}


@media screen and (max-width: 767px ) {
    body {
        font-size: 10px;
    }
    header nav a {
        margin: 10px;
    }
    #intro .avatar img {
        transform: none;
    }
    #intro .content {
        left: 20px;
    }
    #intro .content .name {
        font-size: 2em;
        margin-bottom: .5em;
    }
    #intro .content .job {
        font-size: 3em;
    }
    #intro .content i {
        position: unset;
        font-size: 10em;
    }
    #skill .list {
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    #skill .list .item:nth-child(odd) {
        background-color: unset;
    }
    #skill .list .item:nth-child(2),
    #skill .list .item:nth-child(3n) {
        background-color: #3f2525;
    }
    #project .list {
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    #project .list .item img {
        height: 100px;
    }
}

.tab {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;
}

#intro {
    z-index: 2;
}

.tab.active {
    --x: 50%;
    --y: 50%;
    clip-path: circle(
        0 at var(--x) var(--y)
    );
    animation: showTab 1s ease-in-out 1 forwards;
}

@keyframes showTab {
    to {
        clip-path: circle(
            200% at var(--x) var(--y)
        );
    }
}